<%- include('../partials/_head', {title : title}) %>

<!-- links -->
    
<!-- ... -->

<%- include('../partials/_body') %>

<!-- template -->
<h1><%= title %></h1>
<!-- ... -->

<!-- scripts -->
    
<!-- ... -->

<%- include('../partials/_foot') %>