<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/css.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <article class="header-brand">
            <h2 class="header-brand__title">CREDENCIALES</h2>
        </article>
        <article class="header-tail">
            <a class="header-tail__text" href="soporte.html">Soporte</a>
        </article>
    </header>
    <article class="container">
        <article class="container-box">
            <section class="container-box__left">
                <section class="left-box">
                    <img class="left-box__figure left-box__figure--stroke" src="./assets/imgs/int.jpg" alt="">
                </section>
            </section>
            <section class="container-box__rigth">
                <section class="rigth-box">
                    <section class="box-card">
                        <section class="box-card__letterhead">
                            <h2 class="letterhead__title letterhead__title--center">RECUPERAR CREDENCIALES</h2>
                            <h2 class="letterhead__subtitle">Digite su correo electrónico y en instantes recibirá un correo con el código de recuperación</h2>
                        </section>
                        <section class="box-card__body">
                            <section class="box-card__inputs">
                                <div class="inputs-group">
                                        <span class="inputs-group__icon">
                                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="40" height="40" fill="none"/>
                                                <g clip-path="url(#clip0_402_6004)">
                                                <path d="M24.8 25.8667H15.2C14.0267 25.8667 13.0667 24.9067 13.0667 23.7333V16.2667C13.0667 15.0933 14.0267 14.1333 15.2 14.1333H24.8C25.9733 14.1333 26.9333 15.0933 26.9333 16.2667V23.7333C26.9333 24.9067 25.9733 25.8667 24.8 25.8667Z" stroke="#0F0F0F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M13.0667 16.8L20 21.0667L26.9333 16.8" stroke="#0F0F0F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_402_6004">
                                                <rect width="16" height="12.8" fill="none" transform="translate(12 13.6)"/>
                                                </clipPath>
                                                </defs>
                                                </svg>
                                        </span>
                                        <input class="inputs-group__input" type="text" placeholder="Correo electrónico">
                                </div>
                            </section>
                            <form action="credencials.form.html" method="get">
                                <input title="Redirection to Support-View" class="btn-default" type="submit" value="Continuar">
                            </form>
                        </section>
                        <section class="box-card__footer">
                            <h3 class="body__letter body__letter--0mrg">Si aun no tiene usuario y contraseña <br> registrese <a class="body__letter--link" href="register.html">AQUI</a></h3>
                        </section>
                    </section>
                </section>
            </section>
        </article>
    </article>
</body>
</html>