<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/css.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <article class="header-brand">
            <h2 class="header-brand__title">CREDENCIALES</h2>
        </article>
        <article class="header-tail">
            <a class="header-tail__text" href="soporte.html">Soporte</a>
        </article>
    </header>
    <article class="container">
        <article class="container-box">
            <section class="container-box__left">
                <section class="left-box">
                    <img class="left-box__figure left-box__figure--stroke" src="./assets/imgs/int.jpg" alt="">
                </section>
            </section>
            <section class="container-box__rigth">
                <section class="rigth-box">
                    <section class="box-card">
                        <section class="box-card__letterhead">
                            <h2 class="letterhead__title letterhead__title--center">RECUPERAR CREDENCIALES</h2>
                            <h2 class="letterhead__subtitle">Digite el código de recuperación</h2>
                        </section>
                        <section class="box-card__body">
                            <section class="box-card__inputs">
                                <div class="group-inputs">
                                    <input class="group-inputs__input" type="text">
                                    <input class="group-inputs__input" type="text">
                                    <input class="group-inputs__input" type="text">
                                    <input class="group-inputs__input" type="text">
                                    <input class="group-inputs__input" type="text">
                                    <input class="group-inputs__input" type="text">
                                </div>
                                <h3 class="body__letter body__letter--nomrg--center">Reenviar correo de recuperación ..30seg</h3>
                            </section>
                            <form action="crendecials-recover.html" method="get">
                                <input title="Redirection to Support-View" class="btn-default" type="submit" value="Continuar">
                            </form>
                        </section>
                        <section class="box-card__footer">
                            <h3 class="body__letter body__letter--0mrg">Si aun no tiene usuario y contraseña <br> registrese <a class="body__letter--link" href="register.html">AQUI</a></h3>
                        </section>
                    </section>
                </section>
            </section>
        </article>
    </article>
</body>
</html>