@charset "UTF-8";
/*CUSTOM PROPERTIES*/
:root html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
:root html *,
:root html *::after,
:root html *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*It doesnt taking the properties, i have to check whats going on*/
/*Meanwhile use hexadecimal color's value -----> lov u  😎*/
/*----------------------- RESET HTML PROPERTIES---------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
html *,
html *::after,
html *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html body {
  width: 100%;
  height: 100vh;
}

/*------------------HEADER------------------*/
.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #D7D7D7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-brand {
  width: 20%;
  min-width: 250px;
  background-color: #F4893C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-brand__title {
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: #FFF;
}

.header-tail {
  width: 8%;
  min-width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-tail__text {
  color: #6F6F6F;
  text-decoration: none;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}
.header-tail__text:hover {
  color: #F4893C;
}

/*------------------ BODY-------------------*/
.body__letter {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 300;
  line-height: 18px;
  font-size: 14px;
  color: #0F0F0F;
}
.body__letter--link {
  color: #0F0F0F;
  font-weight: bold;
  margin-bottom: 64px;
  margin-left: 3px;
}
.body__letter--0mrg {
  margin-top: 0;
  margin-bottom: 8px;
}
.body__letter--nomrg--center {
  margin-top: 0;
  text-align: center;
}

.body-icons__icon {
  margin: 8px 10px;
}

.body-option {
  height: auto;
  width: 100px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  background-color: #FFF;
  color: #0F0F0F;
  cursor: pointer;
}
.body-option:hover {
  background-color: #F4893C;
}
.body-option:hover svg {
  fill: #FFF;
  outline: #FFF;
  stroke: #FFF;
}
.body-option:hover .body__letter {
  color: #FFF;
}
.body-option--letter {
  font-family: "Quicksand", sans-serif;
}
.body-option--row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.box-card {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box-card__letterhead {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.box-card__body {
  width: 100%;
  height: auto;
}
.box-card__body--row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box-card__footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 64px;
  align-items: center;
}

.btn-default {
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  background-color: #F4893C;
  margin-top: 24px;
  cursor: pointer;
  color: #FFF;
}
.btn-default:hover {
  background-color: #FF5C16;
}

.container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  height: 90%;
  min-height: 600px;
  width: 70%;
  display: flex;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}
.container-box__rigth {
  min-width: 600px;
  width: 50%;
  height: 100%;
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
}
.container-box__left {
  width: calc(100% - 600px);
  max-width: 50%;
  height: 100%;
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.group-inputs {
  width: 100%;
  height: 40px;
  gap: 8px;
  display: flex;
  justify-content: center;
}
.group-inputs__input {
  height: 100%;
  width: 40px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
}
.group-inputs__input:active, .group-inputs__input:focus {
  outline: 2px solid #D7D7D7;
  text-align: center;
}

.inputs-group {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 1px;
  border: 1px solid #D7D7D7;
  margin-bottom: 16px;
}
.inputs-group:hover {
  outline: 2px solid #F4893C;
}
.inputs-group__icon {
  height: 95%;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.inputs-group__input {
  width: 95%;
  height: 95%;
  border: none;
  border-left: 1px solid #D7D7D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 16px;
}
.inputs-group__input:active, .inputs-group__input:focus {
  outline: none;
}
.inputs-group__input::-moz-placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}
.inputs-group__input:-ms-input-placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}
.inputs-group__input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}
.inputs-group__input--selection {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left-box {
  height: 100%;
  width: 100%;
}
.left-box__figure {
  min-height: 600px;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.left-box__figure--stroke {
  border: 1px solid black;
}

.letterhead__subtitle {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.letterhead__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.letterhead__title--center {
  text-align: center;
}

.rigth-box {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=css.css.map */