<section class="container__card__aside">
    <% if (view === 'login' || view === 'register') { %>
        <img class="container__card__aside__figure" src="/public/assets/img/jess-bailey-mexeVPlTB6k-unsplash-compressed.jpg" alt="jess-bailey-mexeVPlTB6k-unsplash-compressed">
    <% } else if (view === 'help') { %>
        <img class="container__card__aside__figure" src="/public/assets/img/annie-spratt-goholCAVTRs-unsplash-compressed.jpg" alt="annie-spratt-goholCAVTRs-unsplash-compressed">
    <% } %>
</section>