<header class="header">
    <div class="header__brand">
        <section class="header__brand__logo">
            <span class="header__brand__logo__text">
                Ingenieria de Sistemas
            </span>
        </section>
    </div>
    <nav class="header__nav">nav</nav>
    <div class="header__tail">
        <section class="header__tail__icon">
            <!-- <img src="/public/assets/icons/icon-menu-burger.svg" alt="" class="header__tail__icon__iburguer" width="16" height="16"> -->
            <svg class="header__tail__icon__iburguer" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 30H39" stroke="#6F6F6F" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 24H39" stroke="#6F6F6F" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 36H39" stroke="#6F6F6F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </section>
    </div>
</header>